* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2ebe3;
  color: #6c7289;
  font-family: "Montserrat", sans-serif;
}

.contain {
  background-color: #ffffff;
  width: 700px;
}

h1 {
  color: #1c232b;
  font-family: "Fraunces", serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
